@mixin clearfix {
	&:before,&:after {
    	content:"";
    	display:table;
	}
	&:after { clear:both; }
	& { zoom:1; }
}

@mixin border {
	padding: 7px;
	border: 1px solid $border;
	border-radius: 3px;

	> div {
		padding: 15px 15px 0;
		border: 1px solid $border;
		border-radius: 3px;
	}
}

@mixin image-border {
	border: 3px solid $beige;
	border-radius: 2px;
}

@mixin image-shadow {
	display:block;
    position:relative;

	&::before {
	    content:'';
	    position:absolute;
	    width:100%;
	    height:100%;
	    -moz-box-shadow:inset 0 0 10px rgba(black, .7);
	    -webkit-box-shadow:inset 0 0 10px rgba(black, .7);
	    box-shadow:inset 0 0 10px rgba(black, .7);
	}

	img {
		display: block;
	}
}

@mixin transition($settings) {
	-webkit-transition: $settings;
	-moz-transition: $settings;
	-o-transition: $settings;
	-ms-transition: $settings;
	transition: $settings;
}