#header {
	background-position: top center;
}

#top {
	margin-top: 0;
}

#sidebar-left {
	float: left;
	width: 23.404255319%;
	margin: 0;
	padding-bottom: 0;
	height: auto;
	overflow: visible;
	background-color: none;

	&.menu-open {
		background-color: inherit;
		margin-bottom: 0;
		padding: 0;
	}
}

#sidebar-left + #content {
	width: 76.595744681%;
}

#content {
	width: 100%;
	float: left;

	.home & {
		width: 63.829787234%;
	}
}

#sidebar-right {

	.home & {
		width: 36.170212766%;
		margin-top: -47px;
		padding-left: 4.255319149%;
		margin-left: 0;
		float: left;
	}

	&.with-sidebar {
		float: right;
		width: 78.495744681%;
	}
}

#copyright {
	padding-top: 17px;
}