#header {
	background-position: top center;
}

#sidebar-left {
	float: left;
	width: 23.404255319%;
}

#sidebar-left + #content {
	width: 76.595744681%;
}

#content {
	width: 100%;
	float: left;

	.home & {
		width: 63.829787234%;
	}
}

#sidebar-right {

	.home & {
		width: 36.170212766%;
		margin-top: -47px;
		padding-left: 4.255319149%;
		margin-left: 0;
		float: left;
	}

	&.with-sidebar {
		float: right;
		margin-left: 21.504255319%;
		width: 78.495744681%;
		clear: both;
	}
}

#copyright {
	padding-top: 17px;
}