.container {
	width: 100%;
	padding: 0 2.5%;
	margin: 0 auto;
}

#header {
	text-align: center;
	background: $beige url('../images/bg_header-home.jpg') top center no-repeat;
	
	> div {
		background: url('../images/bg_cityscape.png') bottom center repeat-x;
		
		> div {
			background: url('../images/bg_header-top.png') top center repeat-x;
			padding: 20px 0;
			min-height: 384px;
		}
	}
}

#main {
	padding: 65px 0 35px;
	background-color: #231309;
}

#sidebar-left {
	float: left;
	width: 23.404255319%;
}

#content {
	position: relative;
	background-color: $dark-brown;
	margin-bottom: 10px;
	font-weight: lighter;
	@include border;

	.home & .item-page {
		background: url('../images/icon_towers.png') top left no-repeat;
		padding-left: 30px;
	}
}

#footer {
	font-size: 12px;
	color: $dark-brown;
	text-align: center;
	padding: 17px 0;
	background-color: $beige;

	a {
		color: $dark-brown;
	}
}

#copyright {
	padding-top: 17px;
	line-height: 1.5em;
}

//blog layout

.blog {

	.items-row {
		margin-top: 1.5em;
		&.row-0 {
			margin-top: 0;
		}
	}

	.item {
		position: relative;
		padding-right: 30%;
	}
}