#header {
	background-position: top center;
}

#sidebar-left {
	float: left;
	width: 23.404255319%;
}

#sidebar-left + #content {
	width: 76.595744681%;
}

#content {
	width: 63.829787234%;
	float: left;
}

#sidebar-right {
	width: 36.170212766%;
	margin-top: -47px;
	padding-left: 4.255319149%;
	float: left;

	margin-left: 0;
}

#copyright {
	padding-top: 17px;
}