#header {
	background-position: top center;
}

#content {
	width: 63.829787234%;
	float: left;
}

#sidebar {
	width: 36.170212766%;
	margin-top: -47px;
	padding-left: 4.255319149%;
	float: left;

	margin-left: 0;
}

