.container {
	width: 100%;
	padding: 0 2.5%;
	margin: 0 auto;
}

body {
	background: url('../images/bg_body-repeat.jpg') top center repeat;
}

#header {
	text-align: center;
	background: url('../images/bg_header-repeat.jpg') top center repeat-x;
	
	> div {
		background: url('../images/bg_header-home.jpg') top center no-repeat;

		> div {
			background: url('../images/bg_cityscape.png') bottom center repeat-x;
		
			> div {
				background: url('../images/bg_header-top.png') top center repeat-x;
				padding: 20px 0;
				height: 315px;
			}
		}
	}
}

#top {
	margin-top: -40px;
}

#main {
	padding: 45px 0 35px;
	background-color: #231309;
}

#sidebar-left {
	height: 0;
	overflow: hidden;

	&.menu-open {
		height: 100%;
		background-color: black;
		padding: 20px;
		margin-bottom: 4em;
		@include transition(height .7s ease-in-out);
	}
}

#content {
	position: relative;
	background-color: $dark-brown;
	margin-bottom: 10px;
	@include border;

	.home & .item-page {
		background: url('../images/icon_towers.png') top left no-repeat;
		padding-left: 30px;
	}
}

#sidebar-right {
	// clear: both;
	// width: auto;
}

//for readmore button
.item-page {
	overflow: auto;
}

#footer {
	font-size: 12px;
	color: $dark-brown;
	text-align: center;
	background: url('../images/bg_footer-repeat.jpg') top center repeat-x;
	

	> div {
		padding: 17px 0;
		background: url('../images/bg_footer.jpg') top center no-repeat;
		min-height: 310px;
	}

	a {
		color: $dark-brown;
	}
}

#copyright {
	line-height: 1.5em;
}

//blog layout

.blog {

	.items-row {
		margin-bottom: 1.5em;
	}
}