// @group hmenu
.hmenu {

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu > li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: relative;
	
		padding: 0 5px;
	}

	.menu > li > a,
	.menu > li > span {
		display: block;

		span {

		}
	}

	ul ul { // submenu
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;

		li {
			white-space: nowrap;
		}
	}
}

.primary-menu {
	font-size: 1.142857143em;

	.menu > li {
		padding: 0 5px;
		width: auto;
		background-color: inherit;
		border: none;
		box-shadow: none;
		margin: 0;
	}

	a {
		color: $brown;
		line-height: 43px;

		&:hover {
			background: url('../images/rollover_menu.png') 78% top no-repeat;
			text-decoration: none;
		}
	}
}

.secondary-menu {
	padding-bottom: 20px;
	background: url('../images/divider_footer-menu.png') bottom center repeat-x;

	.menu > li {
		padding: 0 15px;
		line-height: 1em;
		border-left: 1px solid $brown;

		&:first-child {
			border-left: 0;
		}
	}
}

// @group vmenu
.vmenu {
	display: block; //remove
	position: relative;
	font-weight: lighter;
	margin-top: 1px;

	h3 {
		font-size: 1.714285714em;
	}

	.menu {
		margin: 0;
		padding-left: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		line-height: 24px;
		padding: 10px 20px 0 0;

		&.deeper.parent > span {
			color: $beige;
		}
	}

	a {
		color: white;

		&:hover {
			color: $beige;
			text-decoration: none;
		}
	}

	ul ul { // submenus
		margin: 0.5em 0 1em 1em;
		list-style: none;
		padding-left: 0;
	}
}
