.primary-menu {
	.menu > li {
		padding: 0 20px;
	}
}

.vmenu {
	display: block;
	background: url('../images/icon_towers.png') top left no-repeat;
	border-top: none;
	margin: 0 0 4em;
	padding-top: 0;

	.menu {
		padding-left: 30px;
	}

	h3 {
		position: absolute;
		top: -40px;
	}

	li {
		display: block;
		padding-top: 0;
		width: auto;
	}

	a {
		padding-top: 3px;
		&:hover {
			background-color: inherit;
		}
	}
}