.primary-menu {
	.menu > li {
		padding: 0 20px;
	}
}

.restaurant-menu {
	background: url('../images/icon_towers.png') top left no-repeat;

	.menu {
		padding-left: 30px;
	}

	li {
		display: block;
	}
}