// @group modules
.module {} // DO NOT TOUCH

.module.social-media {
	width: 100%;
	padding-top: 10px;
}

.module h3 {
	font-size: 1.285714286em; //18px
	padding-top: 0;
}

.module.show-menu {
	position: relative;
	padding-bottom: 60px;

	> div {
		min-height: 30px;
	}

	h3 {
		padding: 8px 0 0 47px;
	}

	.button-show-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 21px;
		height: 17px;
		padding: 10px;
		text-indent: -9999px;
		background: url('../images/icon_show-menu.png') 10px 10px no-repeat;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
	}

	&.menu-open .button-show-menu,
	.button-show-menu:hover {
		background-color: black;
	}

	&.menu-open {
		padding-bottom: 7px;
		
		.button-show-menu {
			background-position: -31px 10px;
		}
	}
}

.module.sidebar-right {
	width: 100%;
	float: left;
	margin-top: 20px;
	position: relative;

	.media-image {
		position: absolute;
		top: 0;
		right: 30px;
	}
	div.custom {
		background-color: $dark-brown;
		@include border;

		&:hover {
			background: $dark-brown url('../images/rollover_sidebar.png') bottom right no-repeat;
		}

		> div {
			padding-right: 44%;
		}
	}
}

.module.gallery {

	> div {
		background: url('../images/icon_gallery-prev.png') left center no-repeat;
		padding-left: 40px;
	
		> div {
			background: url('../images/icon_gallery-next.png') right center no-repeat;
			padding-right: 40px;
		}
	}

	div.custom {
		width: 100%;
		overflow: scroll;
	}

	.sigProContainer {
		width: 1550px;
	}

	ul.sigProClassic li.sigProThumb {
		margin: 0 0 0 10px;
		border: 6px solid black;
		border-radius: 4px;

		&:first-child {
			margin-left: 0;
		}
	}

	ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper {
		padding: 0;
		@include image-border;
	}

	ul.sigProClassic li.sigProThumb span.sigProLinkWrapper {
		margin: 0;
		padding: 0;
		border: 0;
	}

	a.sigProLink {
		@include image-shadow;
	}
}