// styles
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $beige; color:#fff; text-shadow: none; }
::selection { background: $beige; color:#fff; text-shadow: none; }

.image-border {
	@include image-border;
}

.image-shadow {
	@include image-shadow;
}

// .read-more {
// 	background: $dark-brown url('../images/button_read-more.png') top left no-repeat;

// 	> *:first-child {
// 		background: $dark-brown url('../images/button_read-more.png') bottom right no-repeat;
// 	}
// }