.image-border {
  border: 3px solid #e3dbcb; }

.image-shadow {
  display: block;
  position: relative; }
  .image-shadow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); }
  .image-shadow img {
    display: block; }

.image-border-shadow {
  border: 3px solid #e3dbcb;
  display: block;
  position: relative; }
  .image-border-shadow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); }
  .image-border-shadow img {
    display: block; }

.beige {
  color: #e3dbcb; }

.module.sidebar .media-image {
  position: absolute;
  top: 0;
  right: 30px; }

.read-more {
  float: right;
  background: url("../images/button_read-more.png") top left no-repeat;
  padding-left: 25px; }
  .read-more a {
    color: #3b2313; }
  .read-more > *:first-child {
    background: url("../images/button_read-more.png") bottom right no-repeat;
    padding-right: 25px;
    line-height: 33px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
