.image-border {
  border: 3px solid #e3dbcb; }

.image-border-shadow {
  position: relative;
  border: 3px solid #e3dbcb; }
  .image-border-shadow::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); }
  .image-border-shadow img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%; }

.beige {
  color: #e3dbcb; }

.module.sidebar .media-image {
  position: absolute;
  top: 0;
  right: 30px; }

.read-more {
  position: absolute;
  right: 22px;
  bottom: 22px;
  background: url("../images/button_read-more.png") top left no-repeat;
  padding-left: 25px; }
  .read-more a {
    color: #3b2313; }
  .read-more > *:first-child {
    background: url("../images/button_read-more.png") bottom right no-repeat;
    padding-right: 25px;
    line-height: 33px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }
